[Mover]
TempDir = /tmp
DownloadTemplate = xrdcp --nopbar --force xroot://$server//$path $dst
#UploadTemplate = xrdcp --nopbar --force $src xroot://eospublic.cern.ch///eos/experiment/neutplatform/protodune/rawdata/np04/dropbox/$filename
DeleteTemplate = xrdfs $server rm $path
RenameTemplate = xrdfs $server mv $path $path.copied
LogFile = mover.log
DatabaseFile = history.sqlite
RetryInterval = 30
KeepHistoryInterval = 604000
KeepLogInterval = 3600
MaxMovers = 1
SourcePurge = rename
ChecksumRequired = yes
TransferTimeout = 1000

SourceURLPattern = xroot://eospublic.cern.ch/$location/$relpath
DestinationURLPattern = xroot://eospublic.cern.ch/eos/experiment/neutplatform/protodune/dune/test/dropbox/$relpath

[Scanner]
Servers = eospublic.cern.ch
Locations = /eos/experiment/neutplatform/protodune/dune/test/daq
ScanInterval = 10
NotifierHTTPPort = 8089
lsCommandTemplate = xrdfs $server ls -l $location
FilenamePattern = np04*.hdf5
#PrescaleFactor = 1.0
ParseRE = ^(?P<type>[a-z-])\S+\s+\d{4}-\d{2}-\d{2}\s+\d{2}:\d{2}:\d{2}\s+(?P<size>\d+)\s+(?P<path>\S+)$
[Monitor]
HTTPPort = 8096
GUIPrefix = /fts-light
[Graphite]
Host = filer-carbon.cern.ch
Port = 2004
Namespace = fts.protodune.np04-srv-024-hd5 
UpdateInterval = 10
SendStats = yes
Bin = 60
[Users]
np04daq = hold_release1
np04data = hold_release2
