{% extends "base.html" %}

{% block html_head %}
<script src="{{GLOBAL_URL_Prefix}}/static/requests.js"></script>
<script src="https://cdn.plot.ly/plotly-2.12.1.min.js"></script>

{% endblock %}

{% block content %}

<h2>Charts</h2>

<p>
<table class="formatting" style="width:100%">
    <tr>
        <td style="width:100pt; white-space: nowrap">Chart range: <select id="chart_window" onchange="refresh_charts()" onload="updateCharts()">
                <option value="hour" selected="selected">hour</option>
                <option value="day">day</option>
                <option value="week">week</option>
            </select>
        </td>
        <td style="width:100pt; text-align:right; white-space: nowrap"><input type="checkbox" id="auto_refresh" checked="checked">&nbsp;auto-update
        </td>
        <td style="text-align:right; white-space: nowrap">&nbsp;&nbsp;&nbsp;<span style="color:#AAA">updated at</span> <span
                        id="refreshed_at" style="color:#AAA"></span>
        </td>
    </tr>
</table>
</p>

<div id="event_chart" style="width:100%; height:400px"></div>
<div id="rate_chart" style="width:100%; height:400px"></div>
<div id="rate_histogram" style="width:100%; height:400px"></div>

<script>
    var scales = {
          "day": {
              "axisLabelInterval":    "minute",
              "window":  "24h",
              "windowSeconds":   24*3600,
              "bin":    "5m",
              "minPeriod":        "mm",
              "balloonFormat":    "HH:NN"
          },
          
          "week": {
              "axisLabelInterval":    "10 minutes",
              "window":  "7d",
              "windowSeconds":   24*3600*7,
              "bin":    "1h",
              "minPeriod":        "mm",
              "balloonFormat":    "HH:NN"
          },
          
          "hour": {
              "axisLabelInterval":    "10 seconds",
              "window":  "1h",
              "windowSeconds":   3600,
              "bin":    "1m",
              "minPeriod":        "ss",
              "balloonFormat":    "HH:NN:SS"
          }
      };
    
    function RateHistogram(div_id, url)
    {
        this.URL = url;
        this.Element = document.getElementById(div_id);
        this.request_data = function (scale) {
            var w = scales[scale].window;
            var url = this.URL + "?since_t=-"+w;
            var request = XMLRequest(url, this);
        }
        this.data_received = function(data)
        {
            var x = [];
            var y = [];
            var ymax = 0;
            for( row of data.data )
            {
                x.push(row.rate/1000000);
                y.push(row.count);
                if( ymax < row.count )
                    ymax = row.count;
            }
            var vmax = 10;
            while( ymax > vmax )
            {
                if( ymax > vmax )  vmax *= 2;
                if( ymax > vmax )  vmax *= 5;
            }
            var trace = {
                x: x,
                y: y,
                mode: "lines",
                fill: "tozeroy",
                line: {shape: 'hv'},
                type: 'scatter' 
            };
            var layout = {
                yaxis: {
                    range: [0, vmax]
                }
            }
            Plotly.react(this.Element, [trace], layout);
        }
    }

    function Rates(div_id, url)
    {
        this.URL = url;
        this.Element = document.getElementById(div_id);
        this.request_data = function (scale) {
            var w = scales[scale].window;
            var bin = scales[scale].bin;
            var url = this.URL + "?since_t=-"+w;
            var request = XMLRequest(url, this);
        }
        this.data_received = function(data)
        {
            var x = [];
            var y = [];
            var width = [];
            var rmax = 10;
            for( row of data )
            {
                x.push(new Date((row.tend - row.elapsed/2)*1000));
                var r = row.size/row.elapsed;
                y.push(r);
                width.push(row.elapsed*100000);
                if( r > rmax )  rmax = r;
            }
            var vmax = 10;
            while( rmax > vmax )
            {
                if( rmax > vmax )  vmax *= 2;
                if( rmax > vmax )  vmax *= 5;
            }
            var trace = {
                x: x,
                y: y,
                mode: "markers",
                type: 'scatter',
            };
            var layout = {
                yaxis: {
                    range: [0, vmax]
                },
                xaxis: {
                    type: "date"
                }
            }
            Plotly.react(this.Element, [trace], layout);
        }
    }
    
    function EventCounts(div_id, url)
    {
        this.URL = url;
        this.Element = document.getElementById(div_id);
        this.request_data = function (scale) {
            var w = scales[scale].window;
            var bin = scales[scale].bin;
            var url = this.URL + "?since_t=-"+w + "&bin="+bin;
            var request = XMLRequest(url, this);
        }
        this.data_received = function(data)
        {
            var traces = [];
            var i;
            for( i=0; i<data.events.length; i++ )
            {
                var event = data.events[i];
                var x = [];
                var y = [];
                for( row of data.rows )
                {
                    x.push(new Date(row[0]*1000));
                    y.push(row[i+1]);
                }
                traces.push(
                    {
                        x: x,
                        y: y,
                        name: event,
                        mode: "scatter",
                        type: "lines",
                        line: {"shape": "hv"}, 
                        stackgroup: "one"
                    }
                );
            }
            var layout = {};
            Plotly.react(this.Element, traces, layout);
        }
    }
    
    var events_counts_chart = null;
    var rate_chart = null;
    var rate_histogram = null;
    
    function refresh_charts()
    {
        var w = document.getElementById("chart_window").value;
        if( events_counts_chart != null )
            events_counts_chart.request_data(w);
        if( rate_chart != null )
            rate_chart.request_data(w);
        if( rate_histogram != null )
            rate_histogram.request_data(w);
    }
    
    function initCharts()
    {
        events_counts_chart = new EventCounts("event_chart", "./event_counts");
        rate_chart = new Rates("rate_chart", "./transfer_rates");
        rate_histogram = new RateHistogram("rate_histogram", "./rate_histogram");
        refresh_charts();
    }

    initCharts();

    setInterval( function() {
            if( document.getElementById("auto_refresh").checked )   
            {
                refresh_charts();
            }
        },
        60000)
    
</script>


        




{% endblock %}
    

