{% extends "base.html" %}

{% block html_head %}
<script src="{{GLOBAL_URL_Prefix}}/static/chart_data.js"></script>

<!-- Dygraph -->
<!--
<script src="//cdnjs.cloudflare.com/ajax/libs/dygraph/2.0.0/dygraph.min.js"></script>
<link rel="stylesheet" src="//cdnjs.cloudflare.com/ajax/libs/dygraph/2.0.0/dygraph.min.css" />
-->

<!-- AmCharts -->
<script src="https://www.amcharts.com/lib/3/amcharts.js"></script>
<script src="https://www.amcharts.com/lib/3/serial.js"></script>
<script src="https://www.amcharts.com/lib/3/xy.js"></script>
<script src="https://www.amcharts.com/lib/3/plugins/export/export.min.js"></script>
<link rel="stylesheet" href="https://www.amcharts.com/lib/3/plugins/export/export.css" type="text/css" media="all" />
<script src="https://www.amcharts.com/lib/3/themes/light.js"></script>


{% endblock %}

{% block content %}

<h2>FTS-light charts</h2>

<p>
<table class="formatting" style="width:100%">
    <tr>
        <td style="width:100pt; white-space: nowrap">Chart range: <select id="chart_window" onchange="updateCharts()" onload="updateCharts()">
                <option value="hour" selected="selected">hour</option>
                <option value="day">day</option>
                <option value="week">week</option>
            </select>
        </td>
        <td style="width:100pt; text-align:right; white-space: nowrap"><input type="checkbox" id="auto_refresh" checked="checked">&nbsp;auto-update
        </td>
        <td style="text-align:right; white-space: nowrap">&nbsp;&nbsp;&nbsp;<span style="color:#AAA">updated at</span> <span
                        id="refreshed_at" style="color:#AAA"></span>
        </td>
    </tr>
</table>
</p>

<div id="event_chart" style="width:100%; height:400px"></div>
<div id="rate_chart" style="width:100%; height:400px"></div>
<div id="rate_histogram" style="width:100%; height:400px"></div>

<script>
      var scales = {
            "day": {
                "axisLabelInterval":    "minute",
                "window":  "24h",
                "windowSeconds":   24*3600,
                "bin":    "1m",
                "minPeriod":        "mm",
                "balloonFormat":    "HH:NN"
            },
            
            "week": {
                "axisLabelInterval":    "10 minutes",
                "window":  "7d",
                "windowSeconds":   24*3600*7,
                "bin":    "10m",
                "minPeriod":        "mm",
                "balloonFormat":    "HH:NN"
            },
            
            "hour": {
                "axisLabelInterval":    "10 seconds",
                "window":  "1h",
                "windowSeconds":   3600,
                "bin":    "10s",
                "minPeriod":        "ss",
                "balloonFormat":    "HH:NN:SS"
            }
        };
        

    function chart_amchart(id, url_head, columns)
    {
        // columns: [ { "name":..., "color":... } ]
        this.URLHead = url_head;
        this.id = id;

        this.graphs = [];
        this.columns = columns;
        this.scale = "day";
            
        for( i in columns )
        {
            var cn = columns[i].name;
            var cc = columns[i].color;
            
            this.graphs.push({
                "title":            cn,
                "valueField":       cn,
                "lineThickness":    1.0,
                "lineAlpha":        1.0,
                "fillAlphas":       0.2,
                "type":             "step",
                //"columnWidth":      1,
                "balloonText":      columns[i].name+": [[value]]",
                "lineColor":        cc,
                "fillColor":        cc
                });


        }

        this.options = {
            "type": "serial",     
            "dataProvider": [],
            "graphs":   this.graphs,
            "categoryField":    "t",
            "chartCursor": {
                enabled:    true,
                categoryBalloonDateFormat:  "HH:NN:SS"
            },
            legend: {
                "enabled":  true,
                "useGraphSettings": true
                },
            valueAxes: [
                {
                    "id":   "count-axis",
                    //"stackType":    "regular",
                    "title":        "event count/minute",
                    "logarithmic":  false
                }
            ],
            "categoryAxis": {   
                minPeriod:  "mm",
                "parseDates": true,
                "dateFormats":
                    [ 
                        { "period":"fff",     "format":"JJ:NN:SS"  },
                        { "period":"ss",     "format":"JJ:NN:SS"  },
                        { "period":"mm",     "format":"JJ:NN:SS"  },
                        { "period":"hh",     "format":"JJ:NN"  },
                        { "period":"DD",     "format":"MMM DD, JJ:NN"  },
                        { "period":"WW",     "format":"MMM DD, JJ"  },
                        { "period":"MM",     "format":"MMM DD"  },
                        { "period":"YYYY",     "format":"MMM YYYY"  }
                    ]
                },
            "export": {
                "enabled":  true
            }

        } 

        this.chart = AmCharts.makeChart(this.id, this.options);

        this.set_scale = function(w)
        {
            this.scale = w;
        }
        
        this.data_received = function(data)
        {
            var converted = new Array();
            var i;
            var columns = data.events;
            var rows = data.rows;
            for( i in rows )
            {
                var row_in = rows[i];
                var row_out = {};
                var j;
                for ( j in row_in )
                    if( j == 0 )     
                        row_out["t"] = new Date(row_in[0]*1000);     // time column
                    else
                        row_out[columns[j-1]] = row_in[j];
                converted.push(row_out);
            }

            
        
            this.chart.categoryAxis.minPeriod = scales[this.scale].minPeriod;
            this.chart.chartCursor.categoryBalloonDateFormat = scales[this.scale].balloonFormat;
            this.chart.valueAxes[0].title = "Events / "+scales[this.scale].axisLabelInterval;
            this.data = converted;
            this.chart.dataProvider = converted;
            this.chart.validateData();
            
        }
        
        this.clear = function()
        {
            if( this.chart )
            {
                this.chart.clear();
                this.chart = null;
            }    
        }
        
        this.update = function(scale)
        {
            this.set_scale(scale);
            var bin = scales[scale].bin;
            var window = scales[scale].window;
            var url = this.URLHead + "?since_t=-"+window + "&bin="+bin;
            var event_types = "";
            for ( i in this.columns )
            {
                if( event_types != "" )
                    event_types += ",";
                event_types += this.columns[i].name;
            }
            url += "&event_types=" + event_types;
            this.request = XMLRequest(url, this, false);
        }
        
        this.addListener = function(what, handler){
            this.chart.addListener(what, handler);
        }
    }
    
    var the_event_chart = new chart_amchart("event_chart", "./event_counts",
        [
            {   "name": "quarantined",      "color":    "#222288"   },
            {   "name": "done",             "color":    "#22aa22"   },
            {   "name": "failed",           "color":    "#ff2222"   }
        ]
    );
    
    the_event_chart.addListener("dataUpdated", 
        function()
        {
            var o = document.getElementById("refreshed_at");
            o.innerHTML=""+new Date();
            o.style.color="black";
            setTimeout(function()
            {
                o.style.color="#888";
                setTimeout(function()
                {
                    o.style.color="#AAA";
                }, 1000);
            }, 1000);
        }); 
        
    function rate_chart(id, url_head)
    {
        this.URLHead = url_head;
        this.id = id;

        this.graphs = [
            {
                "bullet":           "round",
                "bulletSize":       1,
                "bulletAlpha":      0.0,
                "xField":           "tmid",
                "yField":           "rate",
                "balloonText":      "[[y]] MB/sec",
                "lineAlpha":        0
            }
            
        ];
        
        if ( 1 )
            this.graphs.push({
                "title":            "Data transfer rates",
                "bullet":           "xError",
                "bulletSize":       1,
                "bulletAxis":       "time_axis",
                "errorField":       "half_width",
                "lineThickness":    0.0,
                "lineAlpha":        0.0,
                "fillAlphas":       0.0,
                "xField":           "tmid",
                "yField":           "rate",
                "balloonText":      "[[y]] MB/sec",
                "stroke":           "blue"
            });
        
        
        this.scale = "day";
            
        this.options = {
            "type": "xy",     
            "dataProvider": [],
            "graphs":   this.graphs,
            "chartCursor": {
                enabled:    true,
                categoryBalloonDateFormat:  "HH:NN:SS"
            },
            "dataDateFormat":  "MMM DD, JJ:NN:SS",
            "valueAxes": [
                {   "id":   "rate_axis",
                    "title":        "Transfer rate, MB/sec",
                    "logarithmic": true
                },
                {
                    "id":   "time_axis",
                    "type": "date",
                    "position": "bottom",
                    "title":    "time"
                }
            ],
            "export": {
                "enabled":  true
            }
        } 

        this.chart = AmCharts.makeChart(this.id, this.options);

        this.set_scale = function(w)
        {
            this.scale = w;
        }
        
        this.data_received = function(data)
        {
            var i;
            var minrate = null;
            for( i in data )
            {
                var row = data[i];
                var elapsed = row.elapsed;
                if( elapsed == null )   elapsed = 1.0;
                row.half_width = elapsed/2*1000;            // -> miliseconds
                row.tmid = new Date((row.tend-elapsed/2)*1000.0);     
                var r = row.size/row.elapsed/(1024.0*1024.0)            // -> MB/sec
                r = Math.round(r*1000.0)/1000.0;                        // show only 3 digits of the fraction
                row.rate = r ;
                minrate = (minrate == null || r < minrate) ? r : minrate;
            }

            this.data = data;
            this.chart.dataProvider = data;
            var ax = this.chart.getValueAxisById("time_axis");
            var now = new Date();
            ax.minimumDate = new Date(now.getTime() - scales[this.scale].windowSeconds*1000);
            ax.maximumDate = now;
            
            ax = this.chart.getValueAxisById("rate_axis");
            if( minrate == null )
                ax.minrate = null;
            else
                ax.minimum = minrate*0.8;
            
            this.chart.validateData();
        }
        
        this.clear = function()
        {
            if( this.chart )
            {
                this.chart.clear();
                this.chart = null;
            }    
        }
        
        this.update = function(scale)
        {
            this.set_scale(scale);
            var window = scales[scale].window;
            var url = this.URLHead + "?since_t=-"+window ;
            this.request = XMLRequest(url, this, false);
        }
        
        this.addListener = function(what, handler){
            this.chart.addListener(what, handler);
        }
    }
    
    var the_rate_chart = new rate_chart("rate_chart", "./transfer_rates");

    function rate_histogram(id, url_head)
    {
        this.URLHead = url_head;
        this.id = id;

        this.graphs = [
            {
                "id":               "rate-hist",
                "type":             "step",
                "fillAlphas":       0.1,
                "lineAlpha":        1.0,
                "valueField":       "count",
                "showBalloon":      true,
                "balloonText":      "[[category]] MB/sec: [[value]]"
            }
        ];
        
        scale = "day";
        this.window = scales[scale].window;
        
        this.options = {
            "type": "serial",    
            "dataProvider": [],
            "graphs":   this.graphs,
            "categoryField":    "rate",
            "chartCursor":  {},
            "valueAxes": [
                {   "id":   "count-axis",
                    "title":        "Count",
                    "logarithmic": false
                }
            ],
            "categoryAxis": {
                "title":    "Transfer rate, MB/s",
                "startOnAxis":   true,
                "showFirstLabel":    true,
                "showLastLabel":    true,
                "gridPosition":     "middle",
                "min": 0.0
            },
            "export": {
                "enabled":  true
            }
        } 

        this.chart = AmCharts.makeChart(this.id, this.options);

        this.set_scale = function(w)
        {
            this.scale = w;
        }
        
        this.data_received = function(data)
        {
            this.data = data;
            this.chart.dataProvider = data.data;
            this.chart.validateData();
        }
        
        this.clear = function()
        {
            if( this.chart )
            {
                this.chart.clear();
                this.chart = null;
            }    
        }
        
        this.update = function(scale)
        {
            this.set_scale(scale);
            var window = scales[scale].window;
            var url = this.URLHead + "?since_t=-"+window ;
            this.request = XMLRequest(url, this, false);
        }
        
        this.addListener = function(what, handler){
            this.chart.addListener(what, handler);
        }
    }
    
    var the_rate_histogram = new rate_histogram("rate_histogram", "./rate_histogram");

    
    function updateCharts()
    {
        var w = document.getElementById("chart_window").value;
        the_event_chart.update(w);
        the_rate_chart.update(w);
        the_rate_histogram.update(w);
    }
    
    setInterval( function() {
            if( document.getElementById("auto_refresh").checked )   
            {
                updateCharts();
            }
        },
        10000)
    
    updateCharts();
    

    
</script>


        




{% endblock %}
    

